.btn-login {
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    left: 45%;
    top: 40%;
  }

.loading {
    text-align: center;
}
.error-login {
  text-align: center;
  color: red;
}